.card {
  margin-top: 30px;
  width: 359px;
  height: 377px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  border: 1.4px solid var(--color-border);
  border-radius: 0.875rem;
}

.card:hover {
  background-color: rgba(106, 106, 106, 0.3);
}
.card_img {
  height: 101px;
  width: 101px;
  overflow: hidden;
  border-radius: 100%;
}

.card_element {
  margin-top: 26px;
}

h3 {
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 1.5rem;
  color: var(--color-white);
}

.p {
  margin-top: 0px;
  width: 293px;
  color: var(--color-white);
  font-size: 0.875rem;
  font-weight: 500;
  opacity: 0.3;
  line-height: 1.412rem;
}
