.wrapper {
  margin: 186px auto 0px;
  width: 1156px;
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chip_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.h1 {
  font-weight: 600;
  font-size: 3.375rem;
  line-height: 4.826rem;
  color: var(--color-white);
}
