.wrapper {
  width: 1137px;
  height: 626px;
  margin: 186px auto 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.top_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.h1 {
  font-weight: 600;
  font-size: 3.375rem;
  line-height: 4.826rem;
  color: var(--color-white);
}

.card_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
